export PGDATABASE=Goods
export DATABASE_URL="postgres://postgres:postgres@localhost/Goods?sslmode=disable"
export GOOSE_MIGRATION_DIR=migrations
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING="$DATABASE_URL"